@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,700;1,900&family=Questrial&family=Roboto:ital,wght@0,300;0,700;1,500&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,400&family=Spline+Sans:wght@300;400&display=swap");
.banner-slider:hover .carousel-control-next-icon,
.banner-slider:hover .carousel-control-prev-icon {
  display: inline-block;
}

.banner-slider .carousel {
  position: relative;
  margin-top: -0.5rem;
}

.banner-slider .carousel .carousel-item .pup-up {
  position: absolute;
  bottom: 10rem;
  left: 40rem;
}

.banner-slider .carousel .carousel-item .pup-up .main-division {
  height: 30rem;
  width: 55rem;
  text-align: center;
  position: relative;
}

.banner-slider .carousel .carousel-item .pup-up .main-division h1 {
  font-size: 5rem;
  font-weight: bold;
  padding: 3rem;
}

.banner-slider .carousel .carousel-item .pup-up .shop {
  position: absolute;
  left: 19rem;
  bottom: -2rem;
  width: 20rem;
  height: 5rem;
  background-color: black;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  border: none;
}

.banner-slider .carousel .carousel-item .pup-up .shop:hover {
  background-color: #e7040f;
}

.banner-slider .carousel .carousel-item .description {
  padding: 2rem;
  width: 40rem;
  position: absolute;
  left: 75rem;
  bottom: 15rem;
}

.banner-slider .carousel .carousel-item .description h1 {
  font-size: 4rem;
  font-weight: bolder;
  margin-bottom: 2rem;
  text-align: center;
}

.banner-slider .carousel .carousel-item .description p {
  margin: 2rem 0rem;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  color: #251e1e;
}

.banner-slider .carousel .carousel-item .description button {
  color: white;
  background-color: black;
  padding: 1rem;
  width: 20rem;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-slider .carousel .carousel-item .description button:hover {
  background-color: #e7040f;
}

.banner-slider .carousel img {
  height: 50rem;
}

.banner-slider .carousel .carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 1rem !important;
  height: 1rem !important;
  border: 0.3rem solid white;
  background-color: white;
}

.banner-slider .carousel .carousel-indicators .active {
  background-color: transparent;
}

.banner-slider .carousel-control-next-icon,
.banner-slider .carousel-control-prev-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 2rem;
  background-color: gray;
  display: none;
}

.top-header {
  background-color: black;
}

.top-header-middle {
  font-weight: 500;
  padding: 0rem 1rem;
}

.top-header-middle a {
  text-decoration: none;
  color: white;
}

.top-header-middle a:hover {
  color: white;
}

.dropdown {
  position: relative;
}

.dropdown .btn {
  border-radius: 0rem;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: white;
  padding: 0rem;
  vertical-align: baseline;
  font-weight: 500;
}

.dropdown .btn img {
  margin-right: 1rem;
}

.dropdown .btn:hover,
.dropdown .btn :focus {
  background-color: transparent;
  border: none;
  color: white;
}

.dropdown .btn:focus {
  color: #fff;
  background-color: none;
  border-color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  box-shadow: none !important;
}

.dropdown .dropdown-menu {
  text-decoration: none;
  min-width: 15rem;
  font-weight: bold;
}

.dropdown .dropdown-menu img {
  padding: 0.5rem;
}

.header-middle {
  padding-top: 3rem;
}

.header-middle .search {
  position: relative;
}

.header-middle input {
  width: 25rem;
  height: 4rem;
  padding: 1.5rem 3.5rem;
  margin-top: 2rem;
  font-size: 1.8rem;
}

.header-middle .bi-search {
  position: absolute;
  left: 2rem;
  top: 2.7rem;
  font-size: 1.8rem;
}

.header-middle .right-section ul {
  list-style: none;
  margin-bottom: -1rem;
}

.header-middle .right-section ul li {
  display: inline-block;
  padding: 1rem;
  position: relative;
}

.header-middle .right-section ul li .number {
  position: absolute;
  top: 1rem;
  right: 0rem;
  background-color: #e7040f;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 50%;
  padding: 0.8rem 1.3rem;
  color: white;
}

.header-middle .right-section ul li i {
  font-size: 4rem;
  margin-left: 1rem;
}

.header-middle .right-section ul li i:hover {
  color: #e7040f;
}

.header-middle .right-section ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.header-middle .right-section ul li a:hover {
  color: #e7040f;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: bold;
}

nav ul li:hover {
  color: #e7040f;
}

.middle-text {
  background-color: #e7040f;
  color: white;
  margin-top: -1rem;
}

.section-image {
  position: relative;
  margin: 2rem;
  overflow: hidden;
}

.section-image:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.section-image:hover p {
  text-decoration: underline;
}

.section-image img {
  width: 100%;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.section-image p {
  position: absolute;
  left: 10rem;
  bottom: 5rem;
  font-size: 3rem;
  font-weight: bolder;
  color: white;
}

.new_arrive .items {
  position: relative;
  margin: 1rem 0rem;
}

.new_arrive .items img {
  display: block;
  width: 100%;
}

.new_arrive .items .front-img {
  display: block;
}

.new_arrive .items .back-img {
  display: none;
}

.new_arrive .items .price {
  position: absolute;
  left: 0%;
  top: 0%;
}

.new_arrive .items .heart {
  position: absolute;
  right: 0%;
  top: 0%;
  font-size: 3rem;
  display: none;
}

.new_arrive .items .view {
  display: none;
  position: absolute;
  left: 35%;
  top: 25%;
  text-transform: uppercase;
  font-weight: bold;
  background-color: white;
}

.new_arrive .items .view:hover {
  background-color: black;
  color: white;
  -webkit-box-shadow: 0px 2px 12px 0px #888888;
          box-shadow: 0px 2px 12px 0px #888888;
}

.new_arrive .items .choose {
  display: none;
  text-align: center;
  margin: 3rem 5rem;
  background-color: black;
  color: white;
}

.new_arrive .items .choose:hover {
  background-color: #e7040f;
}

.new_arrive .items .image-description p {
  font-size: 1rem;
}

.new_arrive .items .image-description p:hover {
  color: #e90188;
}

.new_arrive .items .image-description .price-tag {
  font-size: 1rem;
}

.new_arrive .items .image-description .rating {
  display: none;
}

.new_arrive .items:hover {
  -webkit-box-shadow: 0px 2px 12px 0px #888888;
          box-shadow: 0px 2px 12px 0px #888888;
}

.new_arrive .items:hover .front-img {
  display: none;
}

.new_arrive .items:hover .back-img {
  display: block;
}

.new_arrive .items:hover .heart {
  display: block;
}

.new_arrive .items:hover .image-description .rating {
  display: block;
}

.new_arrive .items:hover .choose,
.new_arrive .items:hover .view {
  display: inline-block;
}

.left-right {
  margin: 2rem 2rem 4rem 2rem;
}

.left-right .section .images {
  position: relative;
}

.left-right .section .images img {
  display: block;
}

.left-right .section .images .shop {
  background-color: black;
  color: white;
  text-transform: uppercase;
  position: absolute;
  bottom: -1rem;
  left: 35%;
  padding: 1rem 6rem;
}

.left-right .section .images .shop:hover {
  background-color: #e7040f;
}

.card-body .btn:hover {
  background-color: #e7040f;
  border: none;
}

.gallary-image img {
  position: relative;
}

.gallary-image .liked {
  opacity: 0;
  position: absolute;
  left: 27%;
  bottom: 47%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.gallary-image .liked i {
  background-color: #e7040f;
  color: white;
  border-radius: 10%;
}

.gallary-image:hover::after {
  top: 4%;
  left: 4%;
  bottom: 4%;
  right: 4%;
  opacity: 1;
}

.gallary-image:hover .liked {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

.gallary-image::after {
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  content: "";
  border: 0.1rem solid red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.Sticky-nab-bar {
  position: fixed;
  background: white;
  top: 0%;
  width: 100%;
  z-index: 9999;
}

footer ul {
  list-style: none;
}

footer ul li {
  padding: 0.4rem;
}

footer ul li h4 {
  margin-bottom: 2rem;
}

footer ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

footer ul li a:hover {
  text-decoration: underline;
  color: white;
}

.social-media ul {
  margin-left: -3rem;
  list-style: none;
}

.social-media ul li {
  display: inline;
}

.social-media ul li a {
  text-decoration: none;
  background-color: white;
  color: black;
  font-size: 2rem;
  border-radius: 50%;
  padding: 0.5rem 0.79rem;
}

.social-media ul li:hover .facebook {
  background-color: #1b74e4;
  color: white;
}

.social-media ul li:hover .twitter {
  background-color: #5da9dd;
  color: white;
}

.social-media ul li:hover .pint {
  background-color: #b7081b;
  color: white;
}

.social-media ul li:hover .insta {
  background-color: #f14e42;
  color: white;
}

.input-suscribe input {
  width: 25rem;
  height: 3.4rem;
  font-size: 1rem;
  background: black;
  color: white;
  border: solid white 0.14rem;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
}

.input-suscribe button {
  height: 3.409rem;
  width: 10rem;
  background: white;
  font-size: 1rem;
  color: black;
  font-weight: bold;
  border: 0.17rem solid white;
  border-radius: 0rem 0.2rem 0.2rem 0rem;
}

.payement-partner {
  text-align: center;
}

.payement-partner i {
  font-size: 5rem;
  padding: 0.3rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

html {
  font-size: 63.5%;
  font-family: "Arimo", sans-serif;
}
/*# sourceMappingURL=style.css.map */